<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div id="waitingTextContainer">
            <h2 style="position: relative; top: -50px;"><%- lang('waiting.waitingText') %></h2>
        </div>
    </div>
</div>